*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 100vh;
}

.container{
    margin-bottom: 10px;
    background: #f9faf9;
    border-radius: 10px;
    box-shadow: 0px, 2px ,10px rgba(0,0,0,0.9);
    width: 270px;
}

.container h1{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: normal;

}

img{
    height: 12px;
    width: 12px;
    
}

.check{
    position: absolute;
    text-align: right;
    top: 35px;
    bottom: 0px;
    right: 10px;
    visibility: hidden;
}
.close{
    position: absolute;
    text-align: right;
    top: 35px;
    bottom: 0px;
    right: 10px;
    visibility: hidden;
}

.form{
    padding: 20px 30px;

}

.form-control{
    padding-bottom: 5px;
    margin-bottom: 10px;
    position: relative;

}

.form-control label{
display: block;
margin-bottom: 5px;
}

.form-control input{
    width: 100%;
    padding: 3px 15px;
    font-size: 16px;
    border: 1px solid #a7a1a0;
}


.form-control input:focus{
    outline: none;
    border: 1px solid #1d1a1a;
}

small{
    display: block;
    color: #F54D40;
    visibility: hidden;
}



.submit{
    width: 60%;
    border-radius: 3px;
    color: white;
    background-color: rgb(37, 163, 37);
    border: none;
    padding: 10px 20px;
    cursor: pointer;

}
a{
    text-decoration: none;
}
.sing{
    background-color: white;
    border: none;
    margin-left: 15px;
}

.form-control.success input{
    border: 1px solid #31ca15;
}
.form-control.error input{
    border: 1px solid #F54D40;
}
.form-control.error small{
    visibility: visible;
}
